*{
    box-sizing: border-box;
}

body{
    background-image: url("Essential-Books.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.form-box{
    height: 620px;
    width: 510px;
    border: 1px solid black;
    padding-left: 40px;
    background-color: rgb(230, 235, 209);
    margin: auto;
    margin-top: 60px;
    border-radius: 15px;
    font-size: 17px;
}

h1{
    margin-left: 26px;
    color: rgb(62, 6, 51);
}

.register{
    margin-left: 173px;
    margin-top: 17px;
    padding: 6px;
    width: 90px;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 15px;
}

.register:hover{
    color: rgb(149, 27, 124);
}

.row{
    display: flex;
    margin-bottom: 14px;
    align-items: center;
}

.row label
{
  width: 140px;
}

.row input,
.row select,
.row textarea{
    width: 250px;
}
.row input[type="checkbox"] {
    width: auto;
    margin-left: 10px;
}

.name input{
    width: 120px;
    margin-right: 5px;
}
    
#successMsg{
    text-align: center;
    color: green;
    font-weight: bold;
    margin-top: 10px;
}
#openPdf:hover{
    text-decoration: underline;
    color: darkblue;
}
#openPdf{
    text-align: center;
}

#pdfViewer{
    display: none;
    width: 100%;
    height: 400px;
    margin-top: 15px;
    border: 1px solid #999;
}
